#!/usr/bin/make -f
# -*- makefile -*-

#export DH_VERBOSE=1
export DH_OPTIONS

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

PYVERS := $(shell pyversions -vr)

export GTEST_FILTER = "-CgroupsAnyHierarchyWithCpuMemoryFreezerTest.*"
export DEB_LDFLAGS_MAINT_APPEND=-Wl,--as-needed,-lsnappy
export DEB_BUILD_OPTIONS=parallel=$(shell grep "core id" -c /proc/cpuinfo)

export JAVA_HOME := /usr/lib/jvm/default-java

override_dh_installinit:
	dh_installinit --name=mesos
	dh_installinit

override_dh_auto_configure:
	dh_auto_configure -- \
	  --prefix=/usr \
	  --localstatedir=/usr/lib/ \
	  --libexecdir=/usr/lib/ \
	  --without-cxx11 \
	  --enable-optimize \
	  --with-network-isolator

override_dh_auto_test:
	# Because cgroup test dependencies might not be available when building
	# within docker just skip them completely.
	true

%:
	dh $@ --parallel --with autoreconf --with python2
